<%= stylesheet_link_tag "welcome" %>
<%= stylesheet_link_tag "bootstrap.min" %>
<%= render "welcome/index" %>

<div class="col-md-12 book-list">
  <% @bookishes.each do |bookish| %>
      <div class="col-md-3 book">
        <%= image_tag bookish.asin + ".jpg", size: "100x120"%>
        <div ><%= bookish.title %></div>
        <div >
        <% bookish.author.each do |author|%>
            <%= author + " "%>
        <% end %>
        </div>
        <div ><%= bookish.published_at %></div>
      </div>
  <% end %>
</div>

