<div class="col-md-12 book-list">
  <% @bookishes.each do |bookish| %>
      <div class="col-md-3 book">
        <%= image_tag bookish.asin + ".jpg", size: "100x120"%>
        <div><%= link_to bookish.title, bookish_path(bookish) %></div>
        <div >
        <% bookish.author.each do |author|%>
            <%= author + " "%>
        <% end %>
        </div>
        <div ><%= bookish.published_at %></div>
      </div>
  <% end %>
</div>

<div class="pagination"><%= will_paginate @bookishes %></div>


