<%= javascript_include_tag "application" %>


<div class="col-md-12 book-list">
  <% p @bookishes_in_my_books %>
  <% @bookishes_in_my_books.each do |bookish| %>
      <div class="col-md-3 book">
        <%= image_tag bookish.asin + ".jpg", size: "100x120"%>
        <div><%= link_to bookish.title, bookish_path(bookish) %></div>
        <div >
          <% bookish.author.each do |author|%>
              <%= author + " "%>
          <% end %>
        </div>
        <div><%= bookish.published_at %></div>

        <% @my_book = MyBook.find_by(user_id: session[:current_user_id], bookish_id: bookish.id) %>
        <div><%= link_to "从书单移除", my_book_path(@my_book), :method => :delete %></div>

      </div>
  <% end %>
</div>

<div class="pagination"><%= will_paginate @bookishes %></div>


