<!DOCTYPE html>
<html>
<head>
  <%= stylesheet_link_tag "bookish" %>
  <%= stylesheet_link_tag "bootstrap.min" %>
</head>
<body>
<nav class="navigation">
  <span>Bookish</span>
  <%= link_to '主页', bookishes_path %>
  <span class="top_right_nav"><%= link_to '退出'%></span>
  <span class="top_right_nav"><%= User.find(session[:current_user_id]).email %></span>
</nav>

<%= yield %>

</body>
</html>